{% load static %}
<!DOCTYPE html>
<html lang="{{ html_language }}">

<head>
    {% include 'global/partials/head.html' %}
    <title>{% block title %}{% endblock title %} Recipes</title>
</head>

<body>
    {% include 'global/partials/menu.html' %}
    {% include 'global/partials/header.html' %}
    {% include 'global/partials/search.html' %}

    <main class="container mt-4"> <!-- Usando um container Bootstrap -->
        {% block content %}{% endblock content %}
        {% include 'global/partials/pagination.html' %}
    </main>

    {% include 'global/partials/footer.html' %}

    <script src="{% static 'global/js/bootstrap.min.js' %}"></script> <!-- JS do Bootstrap -->
</body>

</html>
