<footer class="main-footer bg-light">
  <div class="container p-4">
      <div class="row d-flex justify-content-between"> <!-- Usando d-flex e justify-content-between -->
          <div class="col-auto"> <!-- Ajuste responsivo -->
              <p class="developer mb-0">
                  <a href="https://www.otaviomiranda.com.br/" target="_blank" rel="noreferrer noopener" class="footer-link">By Otávio Miranda</a>
              </p>
          </div>
          <div class="col-auto"> <!-- Ajuste responsivo -->
              <p class="powered mb-0">
                  <a href="https://www.djangoproject.com/" target="_blank" rel="noreferrer noopener" class="footer-link">Powered by Django</a>
              </p>
          </div>
      </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.1);">
      © {% now "Y" %} - Todos os direitos reservados
  </div>
</footer>

<style>
.footer-link {
  text-decoration: none; /* Remove o sublinhado */
  color: #313436; /* Cor padrão do link */
  transition: color 0.3s ease, text-shadow 0.3s ease; /* Transições suaves */
}

.footer-link:hover {
  color: #1c1e20; /* Cor ao passar o mouse */
  text-shadow: 0 0 5px #1c1e20; /* Adicionando uma sombra de texto */
}
</style>
