<header class="main-header-container bg-light py-3"> <!-- Adicionado bg-light e padding -->
    <div class="container">
        <h1 class="text-center"> <!-- Centralizando o texto -->
            <a class="main-logo d-flex align-items-center justify-content-center" href="{% url 'recipes:home' %}" style="text-decoration: none; color: #333;"> <!-- Removendo underline e mudando a cor para um preto amigável -->
                <i class="fas fa-utensils main-logo-icon fa-2x mr-2"></i> <!-- Aumenta o ícone e adiciona margem à direita -->
                <span class="main-logo-text h2">Recipes</span> <!-- Usando a classe h2 para manter a hierarquia -->
            </a>
        </h1>
    </div>
</header>
